<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/back/main_layout}">
<body class="dc-userlogin">
<div  layout:fragment="content">
    <div class="content-body">
        <main id="dc-main" class="dc-main dc-haslayout">
            <section class="dc-haslayout">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="dc-haslayout dc-dbsectionspace dc-dbsectionspacetest">
                            <div class="dc-dashboardbox">
                                <div class="dc-dashboardboxtitle">
                                    <h2>Appointment Locations</h2>
                                </div>
                                <div class="dc-dashboardboxcontent dc-clinicloc-holder">
                                    <div class="dc-tabscontenttitle">
                                        <h3>Available Locations</h3>
                                    </div>
                                    <div class="dc-content-holder">
										<button class="btn btn-success" onclick="process()">Schedule My Appointment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="dc-haslayout">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="dc-haslayout dc-dbsectionspace dc-dbsectionspacetest">
                            <div class="dc-dashboardbox">
                                <div class="dc-dashboardboxtitle">
                                    <h2>Doctors</h2>
                                </div>
                                <div class="dc-dashboardboxcontent dc-clinicloc-holder">
                                    <div class="dc-tabscontenttitle">
                                        <h3>Available Doctors</h3>
                                    </div>
                                    <div class="dc-content-holder">
                                    <!-- <div th:if="${ not#lists.isEmpty(doctor)}"> -->
                                    <div class="form-group dc-btnarea" align="right"><button class="btn btn-success" onclick="printAllDoctors()">Print All Doctors Details</button></div>
                                    
										<table class="table" id ="docTable">
										  <thead class="thead-dark">
										    <tr>
                                                <th class="hide_me"></th> 
										      	<th>Doctor Name</th>
										        <th>Specialization</th>
										        <th>NIC No</th>
                                                <th>Contact No</th>
										        <th>E mail</th>
										        <th>Address</th>
										        <th>Options</th>
                                                <th></th>
										   	</tr>
										  </thead>
										  <tbody id="docTbody">
										   <!-- <tr  th:each="doctor : ${listDoctors }">
												<td th:text="${doctor.firstName}">Doctor Name</td>
												<td th:text="${doctor.specialization}">Specialization</td>
												<td th:text="${doctor.status}">Status</td>
												<td th:text="${doctor.approve}">Is Approved</td>
												<td th:text="${doctor.contactNo}">Contact No.</td>
											</tr> -->
										  </tbody>
										</table>
										<!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>

    </div>
    <script th:src="@{/back/js/vendor/jquery-3.3.1.js}"></script>
    <script th:src="@{/back/js/project/doctor.js}"></script>
</div>
</body>
</html>