<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/back/main_layout}">
<body class="dc-userlogin">
<div  layout:fragment="content">
    <div class="content-body">
        <main id="dc-main" class="dc-main dc-haslayout">
            <section class="dc-haslayout">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="dc-haslayout dc-dbsectionspace dc-dbsectionspacetest">
                            <div class="dc-dashboardbox">
                                <div class="dc-dashboardboxtitle">
                                    <h2>Appointment Locations</h2>
                                </div>
                                <div class="dc-dashboardboxcontent dc-clinicloc-holder">
                                    <div class="dc-tabscontenttitle">
                                        <h3>Avaiable Locations</h3>
                                    </div>
                                    <div class="dc-content-holder">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </main>

    </div>
    <!--<script th:src="@{/js/project/jquery.min.js}"></script>
    <script th:src="@{/js/project/hotel.js}"></script>-->
</div>
</body>
</html>