<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/front/main_layout}">
<body class="dc-home">
<div  layout:fragment="content">
	<!--**********************************
                Content body start
            ***********************************-->
<div class="content-body">
	<!-- breadcrumbarea start -->
	<div class="dc-breadcrumbarea">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ol class="dc-breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li>Registration</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumbarea End -->
	<!--Main Start-->
	<main id="dc-main" class="dc-main dc-haslayout dc-innerbgcolor">
		<!--Register Form Start-->
		<div class="dc-haslayout dc-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
						<div class="dc-registerformhold">
							<div class="dc-registerformmain">
								<div class="dc-registerhead">
									<div class="dc-title">
										<h3>Join For a Good Start</h3>
									</div>
									<div class="dc-description">
										<!-- <p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina</p> -->
									</div>
								</div>
								<div class="dc-joinforms">
									<form class="dc-formtheme dc-formregister">
										<fieldset class="dc-registerformgroup">
											<div class="form-group form-group-half">
												<input type="text" id="firstName" name="First Name" class="form-control" placeholder="First Name">
											</div>
											<div class="form-group form-group-half">
												<input type="text" id="lastName" name="Last Name" class="form-control" placeholder="Last Name">
											</div>
											<div class="form-group form-group-half">
												<input type="text" id="nic" name="First Name" class="form-control" placeholder="NIC Number">
											</div>
											<div class="form-group form-group-half">
												<input type="text" id="contactNo" name="Last Name" class="form-control" placeholder="Contact No">
											</div>
											<div class="form-group">
												<input type="text" id="email" name="Email" class="form-control" placeholder="Email">
											</div>
											<div class="form-group">
												<input type="text" id="address" name="Email" class="form-control" placeholder="Address">
											</div>
											<div class="form-group form-group-half">
												<input type="password" id="userpassword" name="userpassword" class="form-control" placeholder="Password*">
											</div>
											<div class="form-group form-group-half">
												<input type="password" id="rePassword" name="rePassword" class="form-control" placeholder="Retype Password*">
											</div>
											<fieldset class="dc-formregisterstart">
												<div class="dc-title dc-formtitle"><h4>Start as :</h4></div>
												<ul class="dc-startoption">
													<li>
															<span class="dc-radio">
																<input id="dc-hospital" type="radio" name="typejoin" value="1" checked="" onchange="changeDiv()">
																<label for="dc-hospital">Doctor</label>
															</span>
													</li>
													<li>
															<span class="dc-radio">
																<input id="dc-doctor" type="radio" name="typejoin" value="2" onchange="changeDiv()">
																<label for="dc-doctor">Channel Center</label>
															</span>
													</li>
													<li>
															<span class="dc-radio">
																<input id="dc-regularuser" type="radio" name="typejoin" value="3" onchange="changeDiv()">
																<label for="dc-regularuser">Patient</label>
															</span>
													</li>
													<input id="regUser" type="hidden" name="" >
												</ul>
											</fieldset>
											<div class="form-group" id="specDiv">
													<span class="dc-select">
														<select class="chosen-select locations" data-placeholder="Specialization" id ="specialization" name="locations">
															<option>Any Specialization</option>
															<option>Acupuncture</option>
															<option>Allergy And Immunology</option>
															<option>Allergy Specialist </option>
															<option>Anaesthetist and Intensivist</option>
															<option>Andrology And Male Fertility</option>
															<option>Anesthetist Assistant</option>
															<option>Anomaly Scan</option>
															<option>Applied Psychologist</option>
															<option>Arthritis</option>
															<option>Audiologist</option>
															<option>Audiometrist</option>
															<option>Ayurvedic And Alternative Medicine</option>
															<option>Ayurvedic Cardiologist</option>
															<option>Ayurvedic General Slimming & Beauty</option>
															<option>Ayurvedic Physician</option>
															<option>Ayurvedic Physician (Boils & Wounds Special)</option>
															<option>Ayurvedic Skin Specialist</option>
															<option>Back Pain Treatment </option>
															<option>Bacteriologist</option>
															<option>Behaviour Therapist</option>
															<option>Breast and Oncological Surgeon</option>
															<option>Breast Cancer Surgeon</option>
															<option>Breast Feeding</option>
															<option>Breastfeeding and Counselling</option>
															<option>Canada Visa Medical</option>
															<option>Cancer Surgeon</option>
															<option>Cardiac Electrophysiologist</option>
															<option>Cardiographer</option>
															<option>Cardiologist </option>
															<option>Cardiologist And Cardiac Electrophysiologist</option>
															<option>Cardiologist Echo</option>
															<option>Cardiothoracic Surgeon</option>
															<option>Chemical Pathology</option>
															<option>Chest Physician</option>
															<option>Chest Specialist</option>
															<option>Child and Adolescent Psychiatric</option>
															<option>Child and Adolescent Psychologist</option>
															<option>Child And Adolescent Psychology  Clinic</option>
															<option>Child Psychiatrist</option>
															<option>Child Psychologist</option>
															<option>Children Dentist</option>
															<option>Children's Respiratory Centre</option>
															<option>Chiropractor</option>
															<option>Clinical  Geneticist</option>
															<option>Clinical  Interventional Cardiologist</option>
															<option>Clinical Audiologist</option>
															<option>Clinical Embryologist</option>
															<option>Clinical Haematologist</option>
															<option>Clinical Health Psychologist</option>
															<option>Clinical Hypnotist</option>
															<option>Clinical Immunologist</option>
															<option>Clinical Microbiologist</option>
															<option>Clinical Neurologist</option>
															<option>Clinical Neurophysiologist</option>
															<option>Clinical Nutritionist</option>
															<option>Clinical Oncologist</option>
															<option>Clinical Physiologist</option>
															<option>Clinical Psychologist</option>
															<option>Co-Ordinating Dr (Sleep Medicine)</option>
															<option>Colorectal Surgeon</option>
															<option>Community Child Health( Development Assessment )</option>
															<option>Community Medicine</option>
															<option>Community Medicine Physician</option>
															<option>Consultant Cardiologist</option>
															<option>Consultant Cardiothoracic Surgeon</option>
															<option>Consultant Dental Surgeon</option>
															<option>Consultant Dental Surgeon In Paediatric Dentistry</option>
															<option>Consultant Dermatologist</option>
															<option>Consultant In Fertility</option>
															<option>Consultant In Reproductive Medicine</option>
															<option>Consultant Judicial Medicine</option>
															<option>Consultant Physician</option>
															<option>Cosmetic Care Clinic And Cosmetic</option>
															<option>Cosmetic Care Clinic And Cosmetic Physician</option>
															<option>Counseling Psychologist</option>
															<option >Counselling</option>
															<option>Counselor</option>
															<option>Cupping Therapist</option>
															<option>Dental And Maxillo - Facial Surgeon</option>
															<option>Dental Surgeon</option>
															<option>Dentist</option>
															<option>Dermatologist</option>
															<option>Diabetic Specialist</option>
															<option>Ear, Nose and Throat Surgeon</option>
															<option>ECHO Scan</option>
															<option>Educational Therapist</option>
															<option>EEG</option>
															<option>EEG Technician</option>
															<option>Elderly Care</option>
															<option>Electroencephalography Specialist</option>
															<option>Embryologist</option>
															<option>EMDR Therapist</option>
															<option>Endocrinologist</option>
															<option>ENT - Head And Neck Surgeon</option>
															<option>ENT Surgeon</option>
															<option>Eye Surgeon</option>
															<option>Family And General Counsellor</option>
															<option>Family Physician</option>
															<option>Food & Nutrition</option>
															<option>Forensic Psychiatrist</option>
															<option>Gastroenterological And Bariatric Surgeon</option>
															<option>General</option>
															<option>Gynaecologist (VOG)</option>
															<option>Gynecologist and Consultant in Fertility</option>
															<option>Haemato-oncologist</option>
															<option>Haematologist</option>
															<option>Hair Clinic</option>
															<option>Hernia Centre</option>
															<option>Histopathologist</option>
															<option>HOLTER MONITORING</option>
															<option>Homeopathy</option>
															<option>Human Nutritionist</option>
															<option>Imago Therapist</option>
															<option>Kidney Dialysis</option>
															<option>Neuro Physician</option>
															<option>Neuro Physiotherapy</option>
															<option>Neuro Surgeon</option>
															<option>Occupational Therapist</option>
															<option>Oral surgeon</option>
															<option>Orthopedics (Traditional Medicine)</option>
															<option>Paediatric Dentist</option>
															<option>Paediatric Dermatologist</option>
															<option>Paediatric Eye Surgeon</option>
															<option>Physician</option>
															<option>Physiotherapist</option>
															<option>Plastic Surgeon</option>
															<option>Radiologist</option>
															<option>Reproductive Endocrinologist</option>
															<option>Sexual Health</option>
															<option>Skin Care And Cosmetic Centre - Plastic Surgeon</option>
															<option>Specialist Physiotherapist</option>
															<option>Urologist</option>
															<option>UV Therapy</option>
															<option>Wound Consultation</option>
														</select>
													</span>
											</div>
											<div class="form-group">
												<button type="button" class="dc-btn" onclick="saveUser()"> Submit</button>
<!--												<a href="" class="dc-btn">Register</a>-->
											</div>
										</fieldset>
									</form>

								</div>
							</div>
							<div class="dc-registerformfooter">
								<span>Already Have an Account? <a href="javascript:void(0);">Login Now</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Register Form End-->

	</main>


</div>

<script th:src="@{/front/js/vendor/jquery-3.3.1.js}"></script>
<script th:src="@{/front/js/project/user.js}"></script>
</div>
</body>
</html>