<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"  lang="en">
<head th:fragment="headerTag">
        <title>E Channeling</title>

        <link rel="stylesheet" th:href="@{/back/css/fontawesome/fontawesome-all.css}">
        <link rel="icon" th:href="@{/back/images/favicon.png}" type="image/x-icon">
        <link rel="apple-touch-icon" th:href="@{/back/apple-touch-icon.png}">
        <link rel="stylesheet" th:href="@{/back/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/back/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/back/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/back/css/scrollbar.css}">
        <link rel="stylesheet" th:href="@{/back/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/back/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/back/css/linearicons.css}">
        <link rel="stylesheet" th:href="@{/back/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/back/css/fullcalendar.min.css}">
        <link rel="stylesheet" th:href="@{/back/css/chosen.css}">
        <link rel="stylesheet" th:href="@{/back/css/dashboard.css}">
        <link rel="stylesheet" th:href="@{/back/css/transitions.css}">
        <link rel="stylesheet" th:href="@{/back/css/dbresponsive.css}">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/af-2.3.7/b-2.2.2/fc-4.0.2/fh-3.2.2/r-2.2.9/sl-1.3.4/datatables.min.css"/>

        <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">-->
        <script th:src="@{/back/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>

        <style>
	th.hide_me, td.hide_me {
	display: none;
	visibility: hidden;
	border: none;
	}
	tr.red_row{
	background-color: red;
	}
	tr.orange_row{
	background-color: orange;
	}
	tr.green_row{
	background-color: green;
	}
	</style>
</head>

</html>