<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"  lang="en">
<head th:fragment="headerTag">
        <!--<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <title>E Channeling</title>
       <!-- <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link rel="apple-touch-icon" th:href="@{/front/apple-touch-icon.png}">
        <link rel="icon" th:href="@{/front/images/favicon.png}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/front/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/front/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/front/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/front/css/fontawesome/fontawesome-all.css}">
        <link rel="stylesheet" th:href="@{/front/css/linearicons.css}">
        <link rel="stylesheet" th:href="@{/front/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/front/css/fullcalendar.min.css}">
        <link rel="stylesheet" th:href="@{/front/css/slick.css}">
        <link rel="stylesheet" th:href="@{/front/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/front/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/front/css/prettyPhoto.css}">
        <link rel="stylesheet" th:href="@{/front/css/chosen.css}">
        <link rel="stylesheet" th:href="@{/front/css/main.css}">
        <link rel="stylesheet" th:href="@{/front/css/responsive.css}">
        <link rel="stylesheet" th:href="@{/front/css/transitions.css}">

      <!--  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/af-2.3.7/b-2.2.2/fc-4.0.2/fh-3.2.2/r-2.2.9/sl-1.3.4/datatables.min.css"/>-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/fc-4.0.2/fh-3.2.2/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



        <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">-->
        <script th:src="@{/front/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
        <style>
	th.hide_me, td.hide_me {
	display: none;
	visibility: hidden;
	border: none;
	}
	tr.red_row{
	background-color: red;
	}
	tr.orange_row{
	background-color: orange;
	}
	tr.green_row{
	background-color: green;
	}
	</style>
</head>

</html>